.banner{
    text-align: center;
    align-items: center;
    display: flex;
    width: 500%;
    height: 400%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    overflow: hidden;
    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}